    .searchbars{
    text-align:center;
    position:relative;
    margin-top:0px;
    margin-left:350px;
    }

    #Title{
        text-align:center;
        margin-top:120px;
        font-family: papyrus;
        font-size:50px;
        margin-left:325px;
        color:white;
    }

    #bluebar{
        background-color: rgb(1, 188, 212);
        height:75px;
        width:100%;
        position:relative;
    }

    #vayu{
        position:absolute;
        margin-top:13px;
    }

    #inputcss[type=search],select{
        height:30px;
        width:180px;
        border-radius:20px;
        font-family:'Times New Roman', Times, serif;
        
    }


    #footer{
        background-color: #01BCD4;
        height:75px;
        width:100%;
        position:relative;
        margin-top:91px;
        text-align:center;
        font-family: 'Times New Roman', Times, serif;
        font-size:20px;
    }

    #card{
        background-color:rgba(247, 247, 247, 0.541);
        width:40%;
        text-align:center;
        margin-left:580px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:whitesmoke;
        border-radius:50px;
       
        
    }

    #back{
        margin-left:-50px;
        position:absolute;
       
    }

    #animation{
        margin-left:-840px;
        position:absolute;
        margin-top:-840px;
        
    }

    .zoom {
        
        transition: transform .3s; /* Animation */
        margin-top:-3px;
        position:absolute;
        margin-left:1090px;
      }
      
    .zoom:hover {
        transform: scale(1.2); 
    }

    /*PopUp on Hover*/
    .hide {
        display: none;
      }
          
      .myDIV:hover + .hide {
        display: block;
        color: white;
        margin-left:5px;    
      }

      .zoom1 {
        
        transition: transform .3s; /* Animation */
        margin-top:6px;
        position:absolute;
        margin-left:1190px;
      }
      
    .zoom1:hover {
        transform: scale(1.2); 
    }

    .zoom2 {
        
        transition: transform .3s; /* Animation */
        margin-top:17px;
        position:absolute;
        margin-left:1290px;
        font-size:10px;
      }
      
    .zoom2:hover {
        transform: scale(1.2);
        
    }